<!-- <div class="main-container">
  <div class="main-body"> -->
    <router-outlet></router-outlet>
  <!-- </div>
  <div class="right-side-panel">
    <h2>Company-Tabs</h2>
    <hr style="width: 100%;">
    <button class="tab-button" (click)="GoToPage('/home')">Home</button>
    @for(tab of Tabs; track tab) {
    <button class="tab-button"
      (click)="UpdateFileAndGoToPage('company-data',tab.companyId)">{{tab.companyName}}</button>
    <div class="x-close" (click)="RemoveTab(tab.companyId)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <rect width="24" height="24" fill="none" />
        <path
          d="M.455,10a.453.453,0,0,1-.418-.28.458.458,0,0,1,.1-.495L4.359,5,.134.777A.456.456,0,0,1,.778.133L5,4.357,9.224.137A.455.455,0,0,1,9.867.78L5.645,5,9.867,9.222a.461.461,0,0,1,.1.5.45.45,0,0,1-.422.28.455.455,0,0,1-.32-.133L5,5.644.778,9.868A.458.458,0,0,1,.462,10Z"
          transform="translate(7 7)" fill="#000" stroke="#000" stroke-width="1" />
      </svg>
    </div>
    }
  </div>
</div> -->